<div class="spacer"> </div>


<div class="centered">
    <script src="https://liberapay.com/KrilleChritzelius/widgets/button.js"></script>
    <noscript><a href="https://liberapay.com/KrilleChritzelius/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/{{site.assets}}/widgets/donate.svg"></a></noscript>
</div>

<div class="spacer"> </div>

<div class="container">

<div id="footer">
    Languages available: (
    {% for language in site.languages %}
    {% if language != "template" %}
    <a href="{{ site.baseurl }}{{language}}">{{language}}</a>
    {% endif %}
    {% endfor %}
    )
    <br/>
    <a href="https://gitlab.com/ChristianPauly/fluffychat-flutter/-/blob/main/LICENSE" target="new">{{ site.data[page.lang].index.license }}</a> -
    <a href="{{ site.baseurl }}en/changelog.md" target="new">{{ site.data[page.lang].index.changelog }}</a> -
    <a href="https://hosted.weblate.org/projects/fluffychat/" target="new">{{ site.data[page.lang].index.translations }}</a> -
    <a href="https://christianpauly.gitlab.io/" target="new">{{ site.data[page.lang].index.created }}</a> -
    <a href="{{ site.baseurl }}en/privacy.html">{{ site.data[page.lang].index.privacypolicy }}</a> -
    <a href="https://gitlab.com/ChristianPauly/fluffychat-flutter/-/graphs/main" target="new">{{ site.data[page.lang].index.contributors }}</a> -
    <a href="https://gitlab.com/ChristianPauly/fluffychat-flutter#special-thanks-to" target="new">{{ site.data[page.lang].index.specialthanksto }}</a>
</div>

</div>
