<div class="container" id="headerContainer">
    <div class="header">
        <div class="left_side">
            <a class="header_button" href="index.html"><img src="{{site.assets}}/images/favicon.png"></a>
        </div>
        <div class="right_side">
            <nav id="header_main_nav">
                <a href="https://gitlab.com/ChristianPauly/fluffychat-flutter/issues" target="new">{{ site.data[page.lang].links.faq }}</a>
                <a href="https://matrix.to/#/%23fluffychat:matrix.org"  target="new" >{{ site.data[page.lang].links.community }}</a>
                <a href="https://gitlab.com/ChristianPauly/fluffychat-flutter"  target="new" >{{ site.data[page.lang].links.gitlab }}</a>
                <a href="https://liberapay.com/KrilleChritzelius/"  target="new" >Liberapay</a>
                <a class="header_button" rel="me" href="https://metalhead.club/@krille" target="new"><img src="{{site.assets}}/images/mastodon.png"></a>
            </nav>
            <a id="header_toggle_mobile" class="header_button"><img src="{{site.assets}}/images/menu.svg"></a>
        </div>
    </div>
</div>
